<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->

  
  <servlet>
    <servlet-name>MockServGeneral</servlet-name>
    <servlet-class>com.distincloud.server.MockServGeneral</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MockServGeneral</servlet-name>
    <url-pattern>/mock/ontology</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StorageServlet</servlet-name>
    <servlet-class>com.distincloud.server.servlets.StorageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>StorageServlet</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Distincloud.html</welcome-file>
  </welcome-file-list>

</web-app>
